<h2 class="text-center login-page">Log in</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :email, class: "login-page" %><b>
      <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "example@mail.com" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password, class: "login-page" %><b>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "password" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "login-page" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => "btn btn-primary btn-lg btn-block" %>
    </div>

    <%= render "users/shared/links" %>
  </div>
<% end %>
