<h1>New Post:</h1>
<%= form_for @post do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <p><%=error%></p>
    <% end %>
  <% end %>
  <%= form.text_field :link, :placeholder => "Insert link" %>
  <%= form.text_field :description, :placeholder => "Input description" %>
  <%= form.submit %>
<%  end %>