<h2 class="text-center login-page">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :email, class: "login-page" %><b>
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password, class: "login-page" %>
      <% if @minimum_password_length %>
      <em class="login-page">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password_confirmation, class: "login-page" %><b>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>

    <br></br>

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-primary btn-lg btn-block" %>
    </div>

    <%= render "users/shared/links" %>
  </div>
<% end %>